.main {
  display: flex;
  flex-flow: row nowrap;
  &__nav {
    width: 15vw;
    min-height: 100vh;
    background: #fafbfd;
  }
  &__body {
    width: 85vw;
    height: 100vh;
    background: #ffffff;
  }
  // .active{
  //   margin-left: 0;
  // }
  @media (max-width: 800px) {
    flex-flow: column nowrap;

    .main__nav{
      width: 100vw;
      height: 10rem;
      min-height: 10rem;
    }

  }
}
