.btn {
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.1);
  padding: 0.7rem 0.8rem;
  font-family: Noto Sans JP;
  font-size: 1.2rem;
  color: #3f3f3f;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  }

  vertical-align: middle;
  text-align: center;
  svg {
    vertical-align: middle;
    margin: 0 0.2rem;
  }
  &:disabled {
    background: #e0e0e0;
    color: #9e9e9e;
    border: none;
    box-shadow: none;
    &:hover {
      background: #e0e0e0;
      color: #9e9e9e;
      box-shadow: none;
    }
  }
  &-default {
    color: #3f3f3f;
    background: #e0e0e0;
    border: none;
    box-shadow: 0px 2px 3px 0px #33333333;

    &:hover {
      background: #aeaeae;
      box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    }
  }
  &-text {
    border: none;
    background-color: white;
    color: var(--primary-color);
    box-shadow: none;
    &:hover {
      background: rgba(41, 98, 255, 0.1);
    }
    &:disabled{
      color: #9E9E9E;

      &:hover{
        background: transparent;
      }

    }
  }
  &-outline {
    border: 1px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    &:hover {
      background: rgba(41, 98, 255, 0.1);
    }
  }
  &-danger {
    color: white;
    background-color: var(--danger-color);
    border: none;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
    &:hover {
      background: #9a0007;
      box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
    }
  }
  &-primary {
    color: white;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
    &:hover {
      background: #0039cb;
      box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
    }
  }
  &-secondary {
    color: white;
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
    &:hover {
      background: #1c313a;
      box-shadow: 0px 2px 3px 0px #455a6433;
    }
  }

  &-disableshadow {
    box-shadow: none;
  }
  &-sm {
    padding: 0.7rem 0.8rem;
  }
  &-md {
    padding: 0.8rem 1.4rem;
  }
  &-lg {
    padding: 0.9rem 2rem;
  }
}
