@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Poppins:wght@500&family=Ubuntu+Mono:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  //   font-family: "Poppins", sans-serif;
  //   font-family: "Ubuntu Mono", monospace;
  box-sizing: border-box;
}
:root {
  --default-color: #e0e0e0;
  --danger-color: #d32f2f;
  --primary-color: #2962ff;
  --primary-hover-color: #0039cb;
  --secondary-color: #455a64;
  --secondary-hover-color: #1c313a;
  --color-grey-1: #333333;
}
